<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/client/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>
    <div class="main_container">
        <h1>Projects</h1>
        <hr>

        <div class="all_projects">
            <%for(p of allproject){%>


                <div class="box">
                    <img src="<%=p.img%>" alt="project image">
                    <h2 class="name">
                        <%=p.name %>
                    </h2>
                    <p class="discription">
                        <%= p.discription%>
                    </p>

                </div>
                <%}%>
        </div>
        <center>
            <button>Learn more!</button>
        </center>
        <script>
            let c = 3;
            let but = document.querySelector("button");
            let box = [...document.querySelectorAll(".box")];
            if (c >= box.length) {
                but.style.display = "none";
            }
            but.onclick = () => {

                for (i = c + 1; i <= c + 3; i++) {
                    if (i >= box.length) {
                        but.style.display = "none";
                       
                    }

                    box[i-1].style.display = "inline-block";
                }
                window.scrollBy({
                    top: 500,
                    behavior: 'smooth'
                });
                c = c + 3;


            }
        </script>
</body>

</html>