<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            max-width: 100vw;
            background: linear-gradient(to right top, #00004f4d, #00005499);

        }

        .table_main {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            width: 90vw;
            margin: auto;
            text-align: center;
            margin-top: 30px;
            background: rgb(255, 255, 255);
        }

        .heading_row {
            background: rgba(0, 0, 255, 0.382);
            color: white;
            font-size: large;
        }
        tr{
            height: 50px;
        }

        .table_data:nth-child(odd) {
            background: #0000001a;
        }

        tr:first-child {
            border-top-left-radius: 10px;
        }
    </style>
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/images/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>
    <table class="table_main">
        <tr class="heading_row">
            <th class="namecolumn">
                Name
            </th>
            <th class="phonecolumn">
                Phone No.
            </th>
            <th class="emailcolumn">
                Email
            </th>
            <th class="messagecolumn">
                Message
            </th>
        </tr>
        <%for(contact of result){%>
        <tr class="table_data">
            <td><%=contact.name%></td>
            <td><%=contact.mobile_no%></td>
            <td><%=contact.email%></td>
            <td><%=contact.message%></td>
        </tr>
    <% } %>    </table>

</body>

</html>