<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      main {
        margin: auto;
        width: 320px;
        text-align: center;
      }

      .child2 {
        display: flex;
        align-content: center;
      }

      p {
        display: inline;
      }

      #image_pro {
        font-size: 8px;
      }

      #UserName {
        font-size: 10px;
      }

      label {
        margin: auto;
        margin-left: 50px;
      }

      .error {
        color: red;
        font-size: 10px;
        position: absolute;
        margin: auto;
        display: none;
      }

      button {
        padding: 5px;
        width: 60px;
        height: 22px;
        font-size: 10px;
      }
      h1{
        text-align: center;
      }
    </style>
  </head>

  <body>
      <h1>Welcome to Projects AdminPanel, Sir.</h1>
      <hr>
      <div id="navbar"></div>
      <script>
          fetch('/images/navbar.html')
              .then(response => response.text())
              .then(data => document.getElementById('navbar').innerHTML = data);
      </script>
    <main>
      <form
        method="post" action="http://localhost:8081/projects/new"  id="form" enctype="multipart/form-data"  >
        <p>UserName :&nbsp;</p>
        <input type="text" name="name" id="UserName" /><br />

        <label for="image_pro">
          <p>Image&nbsp; :</p> </label
        ><input type="file" name="img" id="image_pro" accept="image/png, image/jpeg"
        /><br />
        <p class="error">Please select a image!</p>
        <br />
        <textarea name="discription" id="discription" maxlength="100ch" ></textarea>

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
