h1 {
    margin: 5px;
}

.hed {
    justify-content: center;
    /* display: flex; */
}

body {
    text-align: center;
    background-color: #ffd3fa;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 5px solid black;
    margin: auto;
    display: flex;
    margin: 25px;
}

.box_container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #ff000085;
}

.box_hover:hover {
    box-shadow: 5px 5px 20px 0px #000;
}

.yellow {
    background-color: #ffff0085;
}

.green {
    background-color: #00800085;
}

.purple {
    background-color: #80008085;
}


footer {
    position: absolute;
    bottom: 5px;
    right: 1rem;
    color: #0000006e;
}

.white {
    background-color: white;
}

.suss {
    background-color: green;
    scale: 1.02;
    transition: 0.0002s;
}

.button {
    background-color: transparent;
    border: none;

}

img {
    width: 50px;
}