<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            max-width: 100vw;
            background: linear-gradient(to right top, #00004f4d, #00005499);

        }

        .table_main {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            width: 90vw;
            margin: auto;
            text-align: center;
            margin-top: 30px;
            background: rgb(255, 255, 255);
        }

        .heading_row {
            background: rgba(0, 0, 255, 0.382);
            color: white;
            font-size: large;

        }

        tr {
            height: 50px;
        }

        .table_data:nth-child(odd) {
            background: #0000001a;
        }

        tr:first-child {
            border-top-left-radius: 10px;
        }

        /* arrow */
        .arrow_up {
            width: 15px;
            left: 3px;
            top: 2px;
            position: relative;
            display: none;
        }

        .arrow_down {
            display: none;
            width: 25px;
            position: relative;
            top: 5px;
            left: -2px;
        }
    </style>
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/images/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>
    <table class="table_main">
        <tr class="heading_row">
            <th class="namecolumn">
                Name <img src="/images/arrow-down.png" class="name_arrow_down arrow_down" alt="arrow-down"><img
                    src="/images/arrow-up.png" class="name_arrow_up arrow_up" alt="arrow-down">
            </th>
            <th class="phonecolumn">
                Phone No.<img src="/images/arrow-down.png" class="phone_arrow_down arrow_down" alt="arrow-down"><img
                    src="/images/arrow-up.png" class="name_arrow_up arrow_up" alt="arrow-down">
            </th>
            <th class="emailcolumn">
                Email<img src="/images/arrow-down.png" class="email_arrow_down arrow_down" alt="arrow-down"><img
                    src="/images/arrow-up.png" class="name_arrow_up arrow_up" alt="arrow-down">
            </th>
            <th class="messagecolumn">
                Message<img src="/images/arrow-down.png" class="message_arrow_down arrow_down" alt="arrow-down"><img
                    src="/images/arrow-up.png" class="name_arrow_up arrow_up" alt="arrow-down">
            </th>
        </tr>
        <%for(contact of result){%>
            <tr class="table_data">
                <td>
                    <%=contact.name%>
                </td>
                <td>
                    <%=contact.mobile_no%>
                </td>
                <td>
                    <%=contact.email%>
                </td>
                <td>
                    <%=contact.message%>
                </td>
            </tr>
            <% } %>
    </table>
    <script>
        let ad = 0;
        let au = 0;
        let arrow_up = document.querySelectorAll(".arrow_up");
        let arrow_down = document.querySelectorAll(".arrow_down");
        let heading_cells = document.querySelectorAll(".heading_row > *"); // Select all child elements

        heading_cells.forEach((cell, index) => {
            cell.addEventListener("click", () => {
                arrow_up.forEach(arrow => arrow.style.display = "none");
                arrow_down.forEach(arrow => arrow.style.display = "none");

                if (arrow_down[index].style.display == "none" && ad == 0) {
                    arrow_down[index].style.display = "inline-block";
                    arrow_up[index].style.display = "none";
                    ad = 1;
                    descending(cell);
                } else if (arrow_up[index].style.display == "none" && au == 0) {
                    arrow_down[index].style.display = "none";
                    arrow_up[index].style.display = "inline-block";
                    au = 1;
                }
                else {
                    arrow_down[index].style.display = "none";
                    arrow_up[index].style.display = "none";
                    au = 0;
                    ad = 0;
                }
            });
        });
    </script>
</body>

</html>