<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        .panel {
            text-align: center;
        }

        .admin_options {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
        }

        /* projects  */
        .admin_nav_options {
            text-align: center;
        }
.admin_nav_options_name{
    margin-top: 0px;
    font-size: 25px;
    font-weight: 600;
}
        .icon_admin_image {
            width: 150px;
            padding: 20px;
            border-radius: 5px;
            display: inline-block;
            background: #00000060;
        }
    </style>
</head>

<body>
    <Header>
        <h1 class="panel">
            Admin Panel
        </h1>
        <hr>
        <div id="navbar"></div>
        <script>
            fetch('/images/navbar.html')
                .then(response => response.text())
                .then(data => document.getElementById('navbar').innerHTML = data);
        </script>
        <div class="admin_options">
            <div class="admin_nav_options">

                <a href="http://localhost:8081/project"> <img class="icon_admin_image"
                        src="/images/project-management.png" alt="project-management"></a>
                <p class="admin_nav_options_name">Projects</p>
            </div>

            <div class="admin_nav_options">
                <a href="http://localhost:8081/contact">
                    <img src="/images/contact.png" class="icon_admin_image" alt=" contact">
                </a>
                <p class="admin_nav_options_name">Contact</p>
            </div>
        </div>
    </Header>
</body>

</html>